body {
    margin: 0;
    height: 50vh;
    animation: room 4s 5s forwards;
    overflow: hidden;
  }

  h2 {
    margin: auto;
    margin-top: 12%;
    text-align: center;
    font-style: italic;
    color: rgb(1, 1, 30);
    animation: head1 3s forwards;
    user-select: none;
  }
  @media(max-width:767px){
    h2{
      font-size: 0.8rem;
      margin-top: 5rem;
    }
    .frame{
      position: absolute;
      left: -27%;
      top: 15%;
      scale: 0.6;
    }
  }
  @keyframes head1 {
    to {
      opacity: 1;
      transform: rotateX(360deg) scale(1.5);
    }
  }
  @keyframes room {
    to {
      background-color: rgb(1, 1, 30);
    }
  }
  .lamp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(87, 87, 79);
    transform: rotate(180deg);
    font-size: 60px;
    text-align: center;
    opacity: 0;
    animation: appear 2s 8s forwards;
  }
  .lamp::after {
    content: "";
    position: absolute;
    top: 3px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: rgb(251, 251, 121);
    opacity: 0;
    animation: appear 2s 9s forwards, end 2s 35.5s forwards;
    -webkit-animation: appear 2s 9s forwards, end 2s 35.2s forwards;
}
  .light {
    position: relative;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: -30px;
    margin: auto;
    width: 560px;
    height: 400px;
    z-index: -1;
    background-color: rgb(248, 247, 211);
    -webkit-clip-path: polygon(
      47% 0,
      53% 0,
      100% 100%,
      100% 100%,
      70% 100%,
      30% 100%,
      0 99%,
      0 98%
    );
    clip-path: polygon(
      47% 0,
      53% 0,
      100% 100%,
      100% 100%,
      70% 100%,
      30% 100%,
      0 99%,
      0 98%
    );
    animation: appear 2s 10s forwards, end 3s 34s forwards;
  }
  .ganser {
    position: absolute;
    font-size: 100px;
    color: rgb(175, 7, 7);
    opacity: 0;
    animation: appear 2s 13s forwards, end 3s 31s forwards;
  }
  .ganser i:nth-child(2) {
    color: red;
  }
  .chat {
    position: relative;
    display: flex;
    column-gap: 2rem;
    color: rgb(188, 184, 184);
    font-size: 90px;
    top: -110px;
  }
  .chat1,
  .chat2,.chat3 {
    position: relative;
    
   
  }
  .chat1 {
    animation: appear 4s 16s;
    opacity: 0;
    left: 45px;
  }
  .chat2 {
    transform: rotateY(180deg);
    opacity: 0;
    left: 40px;
    animation: appear 4s 21s;
  }
  .chat1::after {
    position: absolute;
    content: "	👊	";
    font-size: 35px;
    left: 30%;
    top: 30%;
    animation: appear 4s 16s ;
  }
  .chat2::after {
    position: absolute;
    content: "💣	";
    font-size: 35px;
    left: 30%;
    top: 30%;
    animation: appear 4s 21s;
  }
  .chat3 {
    font-size: 90px;
    top: -110px;
    left: -50px;
    opacity: 0;
    animation: appear 4s 26s;
    color: rgb(188, 184, 184);
  }
  .chat3::after {
    position: absolute;
    content: "💣	";
    font-size: 35px;
    left: 30%;
    top: 30%;
    opacity: 0;
    animation: appear 4s 26s;
  }
  @keyframes appear {
    to {
      opacity: 1;
    }
  }
  @keyframes end {
    to {
      opacity: 0;
    }
  }
  .text {
    position: absolute;
    left: 120px;
    width: 400px;
    height: 60px;
  }

  .end {
    position: relative;
    top: 20px;
    display: flex;
    color: rgb(213, 213, 208);
    font-size: 40px;
    font-style: italic;
    opacity: 0;
    animation: appear 1s 37s forwards;
    user-select: none;
    -webkit-animation: appear 0.1s 37s forwards;
}
  .end>div {
    position: absolute;
  }
  .cover {
    width: 350px;
    height: 80px;
    background-color:rgb(1, 1, 30) ;
    animation: end1 4s 37s forwards;
    -webkit-animation: end1 4s 37s forwards;
}
@keyframes end1 {
  to {
    transform: translate(350px);
    -webkit-transform: translate(350px);
    -moz-transform: translate(350px);
    -ms-transform: translate(350px);
    -o-transform: translate(350px);
}
}
 